html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    margin: 0;
    padding: 20px 15px;
    background: linear-gradient(135deg, #082032, #2C394B, #334756)
}

header .left a {
    float: left;
    color: white;
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.8em;
    cursor: pointer;
    animation: animate 7s linear forwards;
    animation-delay: 1s;
}

header .left a:hover {
    color: #59ac84;
    transition: 0.3s;
}

header .mid {
    margin: auto;
    width: 40%;
    padding: 10px;
    text-align: center;
    font-size: 1.6em;
}

header .mid a {
    text-decoration: none;
    padding: 20px;
    font-weight: 900;
    animation: animate 7s linear forwards;
    animation-delay: 1s;
    background: -webkit-linear-gradient(right, #0f0, #0ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .mid a:hover {
    background: -webkit-linear-gradient(right, #0ff, #0f0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #9b59b6;
    transition: 0.5s;
    padding-bottom: 10px;
}

header .right {
    padding: 4px 4px;
    position: absolute;
    top: 20px;
    left: 1380px;
    animation: animate 7s linear forwards;
    animation-delay: 1s;
    font-family: 'Noto Sans KR', sans-serif;
}

header .right:hover {
    padding-top: 5px;
    padding-left: 5px;
    transition: 0.3s;
}

header .right input {
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 20px;
    background: none;
    color: violet;
    padding: 10px 20px;
}

header .right input:hover {
    box-shadow: 5px 5px 5px violet;
    border: 3px solid violet;
    filter: blur(0.2px);
    transition: 0.3s;
}

/* SECTION #home */
#home {
    height: 100vh;
    background: #000;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
    mix-blend-mode: color;
    pointer-events: none;
}

video {
    object-fit: cover;
    margin: 0 140px;
    width: 70%;
    height: 70%;
}

h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
}

h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
    cursor: pointer;
    font-family: "Vujahday Script", cursive;
}

h1 span:hover {
    color: rgb(89, 231, 137);
    transition: 0.5s;
}

h1 span:nth-child(1) {
    animation-delay: 1s;
}
h1 span:nth-child(2) {
    animation-delay: 1.5s;
}
h1 span:nth-child(3) {
    animation-delay: 2s;
}
h1 span:nth-child(4) {
    animation-delay: 2.5s;
}
h1 span:nth-child(5) {
    animation-delay: 3s;
}
h1 span:nth-child(6) {
    animation-delay: 3.5s;
}
h1 span:nth-child(7) {
    animation-delay: 4s;
}

#home .small-info {
    margin: auto;
    width: 80%;
    bottom: 180px;
    left: 150px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.9em;
    font-weight: 800;
    position: absolute;
    animation: animate 5s linear forwards;
    animation-delay: 1s;
    background: -webkit-linear-gradient(right, #0f0, #0ff, #ff0, #0ff);
background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .small-info p {
    font-family: 'Alumni Sans', sans-serif;
    letter-spacing: 5px;
}

#home .small-info p a {
    font-size: 1.8em;
}

/* DOWN ARROW */
.down {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: animate 9s ease-in;
}

.down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: down-ani 2s infinite;
}

.down span:nth-child(2) {
    animation-delay: -0.2s;
}
.down span:nth-child(3) {
    animation-delay: -0.4s;
}


/* SECTION #services */
#services {
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#services h2 {
    letter-spacing: 10px;
    border-bottom: 2px solid white;
    width: 15%;
    position: relative;
    left: 42.50%;
    margin-bottom: 50px;
}

.middle {
    position: relative;
    display: inline-block;
    margin: auto 10px;
}

.card {
    cursor: pointer;
    width: 320px;
    height: 480px;
    
}

.front, .back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
}

.front img {
    width: 100%;
    height: 100%;
    background: linear-gradient(#273c75, #08044e);
    background-size: cover;
    border-radius: 10px;
}

.front {
    transform: perspective(600px) rotateY(0deg);
    border-radius: 10px;
}

.back {
    background: linear-gradient(#2980b9, #34495e, #8e44ad);
    transform: perspective(600px) rotateY(180deg);
    border-radius: 10px;
}

.back-content {
    color: #fff;
    text-align: center;
    width: 100%;
    padding-top: 30%;
    padding: 30% 5px;
}

.back-content h3 {
    font-size: 2em;
    font-family: 'Style Script', cursive;
    letter-spacing: 3px;
}

.back-content p {
    font-size: 1.6em;
    font-family: 'Style Script', cursive;
    letter-spacing: 3px;
}

.card:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

/* SECTION #about */
#about {
    color: #fff;
    width: 100%;
    height: 850px;
    margin: 50px 20px;
    padding: 10px;
    text-align: center;
    flex-direction: column;
}

#about h2 {
    border-bottom: 2px solid white;
    width: 8%;
    position: absolute;
    left: 45%;
    letter-spacing: 5px;
}

.block {
    background-image: url("image.png");
    width: 200px;
    height: 200px;
    position: relative;
    top: 90px;
    left: 41%;
    border-radius: 50%;
    background-size: cover;
}

.glow::before, .glow::after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #0d0dd0, #ff3300, #099fff);
    background-size: 400%;
    border-radius: 50%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: change 20s linear infinite;
}

.glow::after {
    filter: blur(20px);
    opacity: 0.99;
}

.main-txt {
    color: #77b2da;
    position: relative;
    top: 10%;
    left: 9%;
    width: 80%;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 2em;
    letter-spacing: 4px;
}

.main-txt span {
    color: #24a03a;
    font-size: 1.3em;
}

.main-txt a {
    text-decoration: none;
    color: #9b59b6;
}

.main-txt a:hover {
    color: #b500ff;
    transition: 0.4s;
}

/* ADD SKILLS HERE */

/* SECTION #contact */
#contact {
    color: #fff;
    width: 100%;
    margin: 10px 10px;
    padding: 20px 50px;
    height: 700px;
}

#contact h2 {
    border-bottom: 2px solid white;
    width: 8%;
    text-align: center;
    position: relative;
    left: 45%;
    letter-spacing: 4px;
    padding: 5px;
}

.form {
    border: 4px solid white;
    border-radius: 20px;
    width: 45%;
    margin: 70px 0;
    padding: 20px;
}

.form .form-grp {
    margin: 15px;
}

.form .form-grp input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 1.3em;
    border-radius: 15px;
    background-color: #000000;
    border: 4px solid #ff9ff3;
}

.form .form-grp textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 1.3em;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    border-radius: 15px;
    background-color: #000000;
    border: 4px solid #ff9ff3;
}

#sub-btn {
    position: relative;
    left: 40%;
    width: 20%;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
    cursor: pointer;
    background-color: #78dff7;
    border: none;
}

#sub-btn:hover {
    background-color: #1dd1a1;
    transition: 0.5s;
}

.contact-card {
    position: relative;
    top: -70%;
    left: 55%;
    padding: 15px 20px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    box-shadow: 5px 5px 0 rgb(122, 122, 122);
    width: 40%;
    height: 40%;
}

.card-content {
    height: 100%;
    text-align: center;
    padding: 10px 10px;
}

.card-content h3 {
    font-size: 1.5em;
    letter-spacing: 5px;
    font-weight: 900;
}

.icons {
    height: 50%;
    padding: 10px 10px;
    width: 100%;
}

.icons a {
    text-decoration: none;
}

.icons i {
    font-size: 2em;
    line-height: 80px;
    padding: 1px 20px;
    color: white;
}

.icons #yt:hover {
    color: red;
    transition: 0.5s;
}

.icons i:hover {
    color: #3498db;
    transition: 0.5s;
}

/* FOOTER */
.footer {
    background-color: #24262b;
    position: relative;
    padding: 70px 0;
    margin: 60px 0 0 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 33%;
    padding: 0 100px;
}

.footer-col h4 {
    font-size: 1.4em;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 900;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

.footer ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 1.1em;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

/* RESPONSIVE */
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* ANIMATIONS */
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}

@keyframes down-ani {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px)
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px)
    }
}

@keyframes change {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}